<div class='postWrapper'>
  <div class='userWrapper' (click)='sendAuthor(post)'>
      <img class='userPic' src={{post.userPictureUrl}}/>
        <h3 class='authorDetails'>
          {{post.username}}<br/>
          {{currentDay}}{{daySuffix(currentDay)}} of {{months[currentMonth]+','}} {{currentYear}}
        </h3>
  </div>
  <h1 class='postTitle'>{{post.title}}</h1>
  <img class='postPic' src={{post.pictureUrl}}/><br/>
  <div class ='postButtons'>
    {{likes}}<button (click)='increaseLikes()'>&nbsp; Like &nbsp;</button>
    <button>&nbsp; Comment &nbsp;</button>
  </div>
</div>
