.userWrapper{
  padding:2px;
}

.postWrapper{
  padding:5px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: left;
}

.userPic,{
  border-radius: 50%;
  transition: border-radius 0.4s;
}

.userWrapper{
display: inline-block;
}

.userWrapper:hover{
  color: white;
  cursor: pointer;
}

.userWrapper:hover .userPic{
  border-radius: 34%;
}

.userPic, .authorDetails{
  display: inline-block;
  vertical-align: middle;
}

.userPic{
  margin-right: 10px;
  height: 70px;
}

.postPic{
  border-radius: 2%;
}

.postTitle{
  margin-block-start: 10px;
  margin-block-end: 15px;
}

.postButtons{
  text-align: center;
}

.postButtons div{
  padding: 5px;
  margin: 10px;
  background-color: #424242;
  display: inline-block;
  border-radius: 5%;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  &:hover{
    cursor: pointer;
    color: white;
  }
}
