<div class="modalBackground">
</div>

<div class='modal'>
  <img class='coverPic' src={{author.coverUrl}} />
  <img class='authorPic' src={{author.pictureUrl}} />
  <p class='authorName'>{{author.name}} </p>
  <p class='authorUsername'>{{author.username}}</p>
  <table class='authorTable'>
    <tr>
      <td>Email</td>
      <td class='authorMail'>{{author.email}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{author.address.street}} {{author.address.suite}} {{author.address.city}} {{author.address.zipcode}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{author.phone}}</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>{{author.website}}</td>
    </tr>
    <tr>
      <td>Company</td>
      <td>{{author.company.name}}</td>
    </tr>
  </table>
  <h3 (click)='closeModal()'>Close window</h3>
</div>
