<div *ngIf="show" class="commentsWrapper">
  <div *ngFor='let comment of comments'>
    <div class='comment'>
      <p class='commentAuthor'>
        {{comment.author+':'}}
      </p>
      {{comment.content}}
    </div>
  </div>

  <div class="addComment">
    <input [(ngModel)]="newCommenter" type='text' placeholder='Your name' />
    <textarea class='commentText' [(ngModel)]="newComment" cols="40" rows="3" placeholder="Your comment"> </textarea>
    <div (click)="addNewComment()" class="submitComment"> Add comment </div>
  </div>
</div>
